### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
df = pd.DataFrame(purchase_data)
df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
df.columns

Index(['Purchase ID', 'SN', 'Age', 'Gender', 'Item ID', 'Item Name', 'Price'], dtype='object')

In [4]:
df.shape

(780, 7)

## Player Count

* Display the total number of players

In [5]:
sn_df = df["SN"].unique()
total_player = [len(sn_df)]
playerCount_df = pd.DataFrame(total_player, columns = ["Total Players"])
playerCount_df

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
# count of unique items 
unique_items = df["Item ID"].unique()
ui_sum = len(unique_items)
# getting average prices, number of purchases, total revenue 
average_price = "$" + (df["Price"].mean().round(2).astype(str))
total_purchases = df.shape[0]
total_revenue = "$" + (df["Price"].sum().astype(str))

In [7]:
# creating df with purchase summary data
summary_data = [[ui_sum, average_price, total_purchases, total_revenue]]
summary_df = pd.DataFrame(summary_data, columns = ["Number of Unique Items", "Average Price", "Number of Purchases", "Total Revenue"])
summary_df

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [8]:
## Getting unique gender counts 
uGenderData = df[["SN", "Gender"]].drop_duplicates()
GenderCounts = uGenderData["Gender"].value_counts()
## unique male players and percentage 
MaleCounts = GenderCounts[0]
mPercent = str(round(float(MaleCounts/total_player*100),2)) + "%"
## unique female players and percentage 
FemaleCounts = GenderCounts[1]
fPercent = str(round(float(FemaleCounts/total_player*100),2)) + "%"
## unique other players and percentage 
OtherCounts = GenderCounts[2]
oPercent = str(round(float(OtherCounts/total_player*100),2)) + "%"
## compiling all demographics data 
Gender_df_data = [["Male", MaleCounts, mPercent],
                  ["Female", FemaleCounts, fPercent],
                  ["Other/Non-Disclosed", OtherCounts, oPercent]
                 ]

In [9]:
# Gender Demographics df 
GenderDemo_df = pd.DataFrame(Gender_df_data, columns = ["Gender", "Total Count", "Percentage of Players"])
GenderDemo_df.set_index("Gender")

                     Total Count Percentage of Players
Gender
Male                         484                84.03%
Female                        81                14.06%
Other/Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [10]:
# calculating purchase counts, avg purchase price and per person
PurchaseCount = df["Gender"].value_counts()
gPurchase_data = df[["Gender","Price"]]
gAvgPurchase = gPurchase_data.groupby(["Gender"]).mean()["Price"]
gTotalPurchase = gPurchase_data.groupby(["Gender"]).sum()["Price"]
gAvgTotal = [["$" + str(round(gTotalPurchase[0]/FemaleCounts,2))],
             ["$" + str(round(gTotalPurchase[1]/MaleCounts,2))],
             ["$" + str(round(gTotalPurchase[2]/OtherCounts,2))]
            ]
# compiling all gender purchase data 
GenderPurchase_data = [["Female", PurchaseCount[1], "$" + str(round(gAvgPurchase[0],2)), "$" + str(round(gTotalPurchase[0],2)), 
                        gAvgTotal[0][0]], 
                       ["Male", PurchaseCount[0], "$" + str(round(gAvgPurchase[1],2)), "$" + str(round(gTotalPurchase[1],2)), 
                        gAvgTotal[1][0]],
                       ["Other/Non-Disclosed", PurchaseCount[2], "$" + str(round(gAvgPurchase[2],2)), "$" + str(round(gTotalPurchase[2],2)),
                        gAvgTotal[2][0]]
                      ]

In [11]:
# Gender Purchase analysis df 
GenderPurchase_df = pd.DataFrame(GenderPurchase_data, 
                                 columns = ["Gender", "Purchase Count", "Average Purchase Price", 
                                            "Total Purchase Value", "Avg Total Purchase per Person"])
GenderPurchase_df.set_index("Gender")

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.2,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other/Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [12]:
# setting bins, labels, and cutting data 
age_bins = [0,10,15,20,25,30,35,40,46]
age_labels = ["<10", "10-14", "15-19", "20-24", "24-29","30-34", "35-39", "40 +"]
# drop duplicates to avoid players being counted more than once 
df_age = df[["SN", "Age"]].drop_duplicates()
df_age = pd.cut(df_age["Age"],bins = age_bins, right = False, labels = age_labels)
# counts of players in each age bin
df_age_counts = df_age.value_counts()

In [13]:
# age demographics df 
Age_Demo_df = pd.DataFrame(df_age_counts).sort_index(ascending = True)
#calculating percentage of players for each age bin
Age_Demo_df["Percentage of Players"] = (Age_Demo_df["Age"]/576*100).round(2).astype(str) + "%"
Age_Demo_df.columns = ["Total Count", "Percentage of Players"]
Age_Demo_df

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
24-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40 +            12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
## creating df with age and price, binning into age groups, and grouping by bins 
apurch_data = df[["Age", "Price"]]
apurch_df = pd.cut(df["Age"],bins = age_bins, right = False, labels = age_labels)
age_group_df = apurch_data.groupby(apurch_df)
## creating dfs for count, avg purchase, total purchase value, and total average purchase/person 
apurch_count = pd.DataFrame(apurch_df.value_counts().sort_values().sort_index(ascending = True))
apurch_avg_df = pd.DataFrame(("$" + age_group_df["Price"].mean().round(2).astype(str)))
apurch_total_df = pd.DataFrame(age_group_df["Price"].sum().round(2))
apurch_total_df["Count"] = Age_Demo_df["Total Count"]
apurch_total_df["Avg Total Purchase per Person"] = (apurch_total_df["Price"]/apurch_total_df["Count"]).round(2)
apurch_total_df[["Price", "Avg Total Purchase per Person"]] = ("$" + apurch_total_df[["Price", "Avg Total Purchase per Person"]].astype(str))

In [15]:
# age purchasing analysis df 
avg_age_purch_df = pd.DataFrame(apurch_count)
avg_age_purch_df["Average Purchase Price"] = apurch_avg_df["Price"]
avg_age_purch_df[["Total Purchase Value", "Avg Total Purchase Per Person"]] = apurch_total_df[["Price","Avg Total Purchase per Person"]]
avg_age_purch_df

,Age,Average Purchase Price,Total Purchase Value,Avg Total Purchase Per Person
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
24-29,101,$2.9,$293.0,$3.81
30-34,73,$2.93,$214.0,$4.12
35-39,41,$3.6,$147.67,$4.76
40 +,13,$2.94,$38.24,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [16]:
# subsetting main df, grouping by SN and calculating purchase count, avg purchase price, and total purch value
top_spend_df_data = df[["SN", "Price"]]
top_df = top_spend_df_data.groupby("SN")
tpurch_total = top_df["Price"].agg(['count','mean','sum']).round(2).sort_values(by = "sum", ascending = False).head()
tpurch_total[["mean", "sum"]] = "$" + (tpurch_total[["mean","sum"]].astype(str))

In [17]:
# top spender df 
top_spender_df = tpurch_total.rename(columns = {"sum":"Total Purchase Value", "count":"Purchase Count", "mean":"Average Purchase Price"})
top_spender_df

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                   $3.4               $13.62
Iskadarya95               3                  $4.37                $13.1

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [18]:
# grouping data by items and calculating purchase counts
pop_items_data = df[["Item ID", "Item Name", "Price"]]
group_items = pop_items_data.groupby(["Item ID", "Item Name"])
gcount = pd.DataFrame(group_items["Item ID"].count().sort_values(ascending = False).head(13)).rename(columns = {"Item ID":"Purchase Count"})
# merging data frames to combine purchase counts with items and price 
gmain = pd.merge(pop_items_data, gcount, left_on = "Item ID", right_on = "Item ID").drop_duplicates()

In [19]:
%%capture
pop_item_df = gmain[["Item ID", "Item Name", "Purchase Count", "Price"]]
pop_item_df["Total Purchase Value"] = "$" + (pop_item_df["Purchase Count"].astype(int) * pop_item_df["Price"].astype(float)).round(2).astype(str)

In [20]:
# most popular item df 
## Multiple items with 8 & 9 purchases 
pop_item_df.sort_values(by= "Purchase Count", ascending = False)

,Item ID,Item Name,Purchase Count,Price,Total Purchase Value
26,178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,$50.76
0,108,"Extraction, Quickblade Of Trembling Hands",9,3.53,$31.77
17,82,Nirvana,9,4.90,$44.1
86,145,Fiery Glass Crusader,9,4.58,$41.22
9,92,Final Critic,8,4.88,$39.04
38,37,"Shadow Strike, Glory of Ending Hope",8,3.16,$25.28
46,72,Winter's Bite,8,3.77,$30.16
54,60,Wolf,8,3.54,$28.32
62,34,Retribution Axe,8,2.22,$17.76
70,59,"Lightning, Etcher of the King",8,4.23,$33.84
78,75,Brutality Ivory Warmace,8,2.42,$19.36
95,103,Singed Scalpel,8,4.35,$34.8
103,19,"Pursuit, Cudgel of Necromancy",8,1.02,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [21]:
# subsetting main df, grouping by item, calculating total revenue and ranking 
profit_data = df[["Item ID", "Item Name", "Price"]]
gprofit = profit_data.groupby(["Item ID", "Item Name"])
uitems = pd.DataFrame(group_items["Item ID"].count().sort_values(ascending = False)).rename(columns = {"Item ID":"Purchase Count"})
items_df = pd.merge(pop_items_data, uitems, left_on = "Item ID", right_on = "Item ID").drop_duplicates()
items_df["Total Revenue"] = (items_df["Purchase Count"].astype(int) * items_df["Price"].astype(float)).round(2)
items_df = items_df.sort_values(by = "Total Revenue", ascending = False).head(5)
items_df[["Price", "Total Revenue"]] = "$" + (items_df[["Price", "Total Revenue"]].astype(str))
items_df = items_df[["Item ID", "Item Name","Purchase Count", "Price", "Total Revenue"]]

In [22]:
# most profitable items df 
items_df

,Item ID,Item Name,Purchase Count,Price,Total Revenue
120,178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
87,82,Nirvana,9,$4.9,$44.1
469,145,Fiery Glass Crusader,9,$4.58,$41.22
15,92,Final Critic,8,$4.88,$39.04
547,103,Singed Scalpel,8,$4.35,$34.8